body{
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

btn-primary {
    padding-top: 3rem;
}

form-group {
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
}