<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
>
    <head>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div th:include="/fragments/post" th:with="listPosts=${postList}"/>
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="user : ${userList}">
                            <td th:text="${user.id}">User ID</td>
                            <td th:text="${user.username}">Username</td>
                            <td th:text="${user.password}">Password</td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/adduser}"  class="btn btn-primary">New Person</a>
                </div>
            </div>
        </th:block>

    </body>
</html>